sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinx-copybutton
sphinx-togglebutton
sphinx-panels
sphinxcontrib-images
h5py
matplotlib
importlib-metadata
IPython
psutil
pip
numpy
matplotlib
argparse
h5py
netCDF4
xarray
pandas
xlsxwriter
statsmodels
dill
IPython
pyDOE
multiprocessing_on_dill
deap
paramiko
tqdm
shapely
freegs
botorch
scikit-image  
psutil
onnx2pytorch 
tensorflow