sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinx-copybutton
sphinx-togglebutton
sphinx-panels
sphinxcontrib-images
importlib-metadata
pip
numpy
matplotlib
argparse
h5py
netCDF4
xarray
pandas
xlsxwriter
statsmodels
dill
pyDOE
multiprocessing_on_dill
deap
paramiko
tqdm
shapely
freegs
botorch
psutil
tensorflow
f90nml
pyyaml
megpy>=2.0
fibe>=0.3
scikit-image  
IPython
